<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="page">
            <div class="title">
                <h1>{{ .Title }}</h1>
            </div>
            <div class="story">
                {{range $val := .Story }}
                <p>{{ $val }}</p>
                {{end}}
            </div>
            <div class="options">
                <ul>
                    {{range $val := .Options }}
                    <li><a href="{{$val.Arc}}">{{$val.Text}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </main>

</body>

</html>
